services:
  next-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./local.db:/app/local.db
      - ./uploads: /app/public/uploads
    env_file:
      - .env
    restart: always
