services:
  next-app:
    build:
      context: .
      dockerfile: Dockerfile
    user: "0:0"
    ports:
      - "3000:3000"
    volumes:
      - app-data:/app/data
      - uploads-data:/app/public/uploads # 이름있는 볼륨 사용
    environment:
      - NODE_ENV=production
      - NEXTAUTH_URL=http://localhost:3000
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
    env_file:
      - .env
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

volumes:
  app-data:
  uploads-data: # uploads용 볼륨 추가
