services:
  next-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - app-data:/app/data
      - ./uploads:/app/public/uploads
    env_file:
      - .env
    restart: always

volumes:
  app-data:
