services:
  next-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - "./data:/app/data"
      - ./uploads:/app/public/uploads
    env_file:
      - .env
    user: root
    restart: always
